global
    maxconn 50000
    log stdout format raw local0

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http_front
    bind *:8081
    default_backend http_back

backend http_back
    balance roundrobin
    server node1 backend1:5000 check
    server node2 backend2:5000 check